<div *ngIf="!editMode; else editEvents">
  <h1 mat-dialog-title>No event for today, let's add one</h1>
  <div mat-dialog-content>
    <!-- <form class="modal-container" #f="ngForm"> -->
    <form class="modal-container" [formGroup]="eventForm" (ngSubmit)="createEvent()">
      <!-- <mat-form-field class="full-width">
        <input matInput placeholder="title" name="title" [(ngModel)]='title' required>
      </mat-form-field>
      <mat-form-field class="full-width">
        <textarea matInput placeholder="description" name="description" [(ngModel)]='description'></textarea>
      </mat-form-field> -->
      <mat-form-field class="full-width" hintLabel="Max 30 characters">
        <input matInput placeholder="title*" maxlength="30" formControlName='title'>
        <mat-hint align="end">{{ eventForm.value.title.length }}/30</mat-hint>
        <mat-error *ngIf="eventForm.get('title').invalid && eventForm.get('title').touched">Title is required for new event</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width" hintLabel="Max 150 characters">
        <textarea matInput placeholder="description" maxlength="150" formControlName='description'></textarea>
        <mat-hint align="end">{{ eventForm.value.description.length }}/150</mat-hint>
      </mat-form-field>

      <br>

      <!-- <mat-form-field class="date">
        <input matInput [matDatepicker]="startpicker" placeholder="starting date" name="startingDate" [(ngModel)]="startingDate"
         [min]="minStartingDate" (dateInput)="checkingEndingDate()" required>
        <mat-datepicker-toggle matSuffix [for]="startpicker" (dateInput)="checkingEndingDate()"></mat-datepicker-toggle>
        <mat-datepicker #startpicker disabled="false" (dateInput)="checkingEndingDate()"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="date">
        <mat-select placeholder="starting hour" name="startingHour" [(ngModel)]="startingHour"
        (ngModelChange)="checkingEndingDate()" [disabled]="endingDateDisabled" required>
          <mat-option *ngFor="let hour of hourOptions" [value]="hour.value">
            {{ hour.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="date">
        <mat-select placeholder="starting minute" name="startingMin" [(ngModel)]="startingMin"
        (ngModelChange)="checkingEndingDate()" [disabled]="endingDateDisabled" required>
          <mat-option *ngFor="let min of minOptions" [value]="min.value">
            {{ min.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
      <mat-form-field class="date">
        <input matInput [matDatepicker]="startpicker" placeholder="starting date*" formControlName="startingDate"
         [min]="minStartingDate" (dateInput)="checkingEndingDate()">
        <mat-datepicker-toggle matSuffix [for]="startpicker"></mat-datepicker-toggle>
        <mat-datepicker #startpicker></mat-datepicker>
        <mat-error *ngIf="eventForm.get('startingDate').invalid && eventForm.get('startingDate').touched">{{ getStartingDateErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field class="date">
        <mat-select placeholder="starting hour" formControlName="startingHour" (selectionChange)="checkingEndingDate()">
          <mat-option *ngFor="let hour of hourOptions" [value]="hour.value">
            {{ hour.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="date">
        <mat-select placeholder="starting minute" formControlName="startingMin" (selectionChange)="checkingEndingDate()">
          <mat-option *ngFor="let min of minOptions" [value]="min.value">
            {{ min.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-form-field class="date">
        <input matInput [matDatepicker]="endingPicker" placeholder="ending Date" name="endingDate" [(ngModel)]="endingDate"
        [min]="minEndingDate" (dateInput)="checkingEndingDate()" [disabled]="endingDateDisabled" required>
        <mat-datepicker-toggle matSuffix [for]="endingPicker"></mat-datepicker-toggle>
        <mat-datepicker #endingPicker [disabled]="endingDateDisabled"></mat-datepicker>
      </mat-form-field>
      <mat-form-field class="date">
        <mat-select placeholder="ending hour" name="endingHour" [(ngModel)]="endingHour" (ngModelChange)="checkingEndingDate()" [disabled]="endingDateDisabled" required>
          <mat-option *ngFor="let hour of hourOptions" [value]="hour.value">
            {{ hour.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="date">
        <mat-select placeholder="ending minute" name="endingMin" [(ngModel)]="endingMin" (ngModelChange)="checkingEndingDate()" [disabled]="endingDateDisabled" required>
          <mat-option *ngFor="let min of minOptions" [value]="min.value">
            {{ min.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
      <mat-form-field class="date">
        <input matInput [matDatepicker]="endingPicker" placeholder="ending Date*" formControlName="endingDate"
        [min]="minEndingDate" (dateInput)="checkingEndingDate()">
        <mat-datepicker-toggle matSuffix [for]="endingPicker"></mat-datepicker-toggle>
        <mat-datepicker #endingPicker></mat-datepicker>
        <mat-error *ngIf="eventForm.get('endingDate').invalid && eventForm.get('endingDate').touched">{{ getEndingDateErrorMessage() }}</mat-error>
      </mat-form-field>
      <mat-form-field class="date">
        <mat-select placeholder="ending hour" formControlName="endingHour" (selectionChange)="checkingEndingDate()">
          <mat-option *ngFor="let hour of hourOptions" [value]="hour.value">
            {{ hour.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="date">
        <mat-select placeholder="ending minute" formControlName="endingMin" (selectionChange)="checkingEndingDate()">
          <mat-option *ngFor="let min of minOptions" [value]="min.value">
            {{ min.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <mat-form-field>
        <mat-select placeholder="Pick a color" name="color" [(ngModel)]="color" required>
          <mat-option *ngFor="let color of colorOptions" [value]="color.value" [ngStyle]="{'color': color.value}">
            {{ color.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field> -->
      <mat-form-field class="color">
        <mat-select placeholder="Pick a color*" formControlName="color">
          <mat-option *ngFor="let color of colorOptions" [value]="color.value" [ngStyle]="{'color': color.value}">
            {{ color.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <div mat-dialog-actions style="float: right">
        <button mat-raised-button type="submit" [disabled]="eventForm.invalid">Submit</button>
        <button mat-raised-button (click)="onClose()">Cancel</button>
      </div>
    </form>
  </div>
</div>

<ng-template #editEvents>
  <h1 mat-dialog-title><b>Events For {{ data.daySchedule.month + 1 }} / {{ data.daySchedule.day }} / {{ data.daySchedule.year }}</b></h1>
  <div mat-dialog-content>
    <div *ngFor="let event of events; let i = index">
      <form class="modal-container" #mf="ngForm">
        <h5>Event {{ i + 1 }}</h5>

        <mat-form-field class="full-width">
          <input matInput name="title" placeholder="Title" [(ngModel)]="event.title" readonly>
        </mat-form-field>
        <mat-form-field class="full-width">
          <textarea matInput name="description" placeholder="Description" [(ngModel)]="event.description" readonly></textarea>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="starting Date" [value]="event.startingTime" readonly>
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="ending Date" [value]="event.endingTime" readonly>
        </mat-form-field>

        <!-- <mat-form-field>
          <input matInput name="color" placeholder="Color" [(ngModel)]="event.color">
        </mat-form-field> -->

        <!-- <button mat-button (click)="onUpdate(mf)" [disabled]="!mf.valid">Update</button> -->
        <button mat-raised-button (click)="onRemove(event, i)">Remove</button>
      </form>
    </div>
  </div>
  <div mat-dialog-actions style="float: right">
    <button mat-raised-button (click)="addEvent()">Add Event</button>
    <button mat-raised-button (click)="onClose()">Close</button>
  </div>
</ng-template>
