<h1 mat-dialog-title>Please fill out the form</h1>
<div mat-dialog-content>
  <form #f="ngForm">
    <mat-form-field>
      <input matInput placeholder="title" name="title" ngModel required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="description" name="description" ngModel required>
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput [matDatepicker]="startpicker" placeholder="Choose a date from toggle" name="startingDate" [(ngModel)]="startingDate"
       [min]="minStartingDate" (dateInput)="checkingEndingDate()" required>
      <mat-datepicker-toggle matSuffix [for]="startpicker" (dateInput)="checkingEndingDate()"></mat-datepicker-toggle>
      <mat-datepicker #startpicker disabled="false" (dateInput)="checkingEndingDate()"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="starting hour" name="startingHour" [(ngModel)]="startingHour"
      (ngModelChange)="checkingEndingDate()" [disabled]="endingDateDisabled" required>
        <mat-option *ngFor="let hour of hourOptions" [value]="hour.value">
          {{ hour.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="starting minute" name="startingMin" [(ngModel)]="startingMin"
      (ngModelChange)="checkingEndingDate()" [disabled]="endingDateDisabled" required>
        <mat-option *ngFor="let min of minOptions" [value]="min.value">
          {{ min.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <input matInput [matDatepicker]="endingPicker" placeholder="Choose a date from toggle" name="endingDate" [(ngModel)]="endingDate"
      [min]="minEndingDate" (dateInput)="checkingEndingDate()" [disabled]="endingDateDisabled" required>
      <mat-datepicker-toggle matSuffix [for]="endingPicker"></mat-datepicker-toggle>
      <mat-datepicker #endingPicker [disabled]="endingDateDisabled"></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="ending hour" name="endingHour" [(ngModel)]="endingHour" (ngModelChange)="checkingEndingDate()"
      [disabled]="endingDateDisabled" required>
        <mat-option *ngFor="let hour of hourOptions" [value]="hour.value">
          {{ hour.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="ending minute" name="endingMin" [(ngModel)]="endingMin" (ngModelChange)="checkingEndingDate()"
      [disabled]="endingDateDisabled" required>
        <mat-option *ngFor="let min of minOptions" [value]="min.value">
          {{ min.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Pick a color" name="color" ngModel required>
        <mat-option *ngFor="let color of colorOptions" [value]="color.value" [ngStyle]="{'color': color.value}">
          {{ color.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div mat-dialog-actions>
      <button mat-button (click)="onClose()">Cancel</button>
      <button mat-button (click)="createEvent(f)" [disabled]="!f.valid">Submit</button>
    </div>
  </form>
</div>
