<div fxLayout="column" class="mat-elevation-z8">
  <mat-form-field class="search">
    <input matInput (input)="applyFilter($event.target.value)" placeholder="Search">
  </mat-form-field>

  <mat-table #table [dataSource]="dataSource" matSort>
    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Email </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.email}} </mat-cell>
    </ng-container>

    <!-- Username Column -->
    <ng-container matColumnDef="username">
      <mat-header-cell *matHeaderCellDef mat-sort-header> User </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.username}} </mat-cell>
    </ng-container>

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Address </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.address}} </mat-cell>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Phone </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.phone}} </mat-cell>
    </ng-container>

    <!-- Roles Column -->
    <ng-container matColumnDef="roles">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Roles </mat-header-cell>
      <mat-cell *matCellDef="let user"> {{user.roles}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
      <mat-cell *matCellDef="let user"><button mat-icon-button (click)="onRemove(user.email, user.username)"><mat-icon>delete</mat-icon></button></mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator #paginator
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20, 50]"
                 [showFirstLastButtons]="true">
  </mat-paginator>
</div>
