<header>
  <!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" [routerLink]="['/home']">ExperiorTTC</a>
    <button class="navbar-toggler hidden-sm-up" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" data-target="#navbarsDefault" aria-controls="navbarsDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarsDefault">
      <ul class="nav navbar-nav mr-auto">
        <li class="nav-item" (click)="isNavbarCollapsed = true">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/home']"><i class="fa fa-home fa-fw"></i>Home</a>
        </li>
        <li class="nav-item" (click)="isNavbarCollapsed = true">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/calendar']">Calendar</a>
        </li>
        <li class="nav-item" (click)="isNavbarCollapsed = true">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/about']">About</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" *ngIf="!isSignedIn" (click)="isNavbarCollapsed = true">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/authentication/signin']">Sign In</a>
        </li>
        <li class="nav-item" *ngIf="!isSignedIn" (click)="isNavbarCollapsed = true">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/authentication/signup']">Sign Up</a>
        </li>

        <li ngbDropdown placement="bottom-right" class="nav-item" *ngIf="isSignedIn">
          <a id="userDropdown" class="nav-link pointer" ngbDropdownToggle>{{ user.username }}</a>
          <ul ngbDropdownMenu aria-labelledby="userDropdown">
            <li class="dropdown-item pointer" (click)="signOut()" (click)="isNavbarCollapsed = true">
              <a class="nav-link">Sign Out</a>
            </li>
            <li class="dropdown-item pointer" (click)="isNavbarCollapsed = true">
              <a class="nav-link" [routerLinkActive]="['active']" [routerLink]="['/profile']">Profile</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </nav> -->

  <mat-toolbar color="primary">
    <mat-toolbar-row>
        <button class="button-font" mat-button [routerLink]="['/home']"><b>ExperiorTTC</b></button>
        <button class="button-font" mat-button [routerLink]="['/home']" fxShow.lt-md="false"><mat-icon>home</mat-icon>Home</button>
        <button class="button-font" mat-button [routerLink]="['/calendar']" fxShow.lt-md="false">Calendar</button>
        <button class="button-font" mat-button [routerLink]="['/about']" fxShow.lt-md="false">About</button>
        <span class="fill-remaining-space"></span>
        <button class="button-font" mat-button [routerLink]="['/authentication/signin']" *ngIf="!isSignedIn" fxShow.lt-md="false">Sign In</button>
        <button class="button-font" mat-button [routerLink]="['/authentication/signup']" *ngIf="!isSignedIn" fxShow.lt-md="false">Sign Up</button>
        <button class="button-font" mat-button [matMenuTriggerFor]="menu" *ngIf="isSignedIn" fxShow.lt-md="false">{{ user.username }}<mat-icon fontSet="fa" fontIcon="fa-caret-down"></mat-icon></button>
        <mat-menu #menu="matMenu">
          <button class="button-font" mat-menu-item (click)="signOut()">Sign Out</button>
          <button class="button-font" mat-menu-item [routerLink]="['/profile']">Profile</button>
          <button class="button-font" mat-menu-item [routerLink]="['/manageuser']">Manage</button>
        </mat-menu>

        <!-- <button mat-button fxShow="false" fxShow.lt-md="true" class="bars">
          <mat-icon fontSet="fa" fontIcon="fa-bars" aria-hidden="true"></mat-icon>
        </button> -->
        <button class="sidenav-toggle mat-button" mat-button [matMenuTriggerFor]="menu2" fxShow="false" fxShow.lt-md="true">
          <span class="mat-button-wrapper">
            <mat-icon class="mat-icon material-icons" role="img" aria-hidden="true">menu</mat-icon>
          </span>
        </button>
        <mat-menu #menu2="matMenu">
          <button class="button-font" mat-menu-item [routerLink]="['/profile']" *ngIf="isSignedIn">{{ user.username }}</button>
          <button class="button-font" mat-menu-item [routerLink]="['/home']">Home</button>
          <button class="button-font" mat-menu-item [routerLink]="['/calendar']">Calendar</button>
          <button class="button-font" mat-menu-item [routerLink]="['/about']">About</button>
          <button class="button-font" mat-menu-item [routerLink]="['/authentication/signin']" *ngIf="!isSignedIn">Sign In</button>
          <button class="button-font" mat-menu-item [routerLink]="['/authentication/signup']" *ngIf="!isSignedIn">Sign Up</button>
          <button class="button-font" mat-menu-item [routerLink]="['/profile']" *ngIf="isSignedIn">Profile</button>
          <button class="button-font" mat-menu-item [routerLink]="['/manageuser']" *ngIf="isSignedIn">Manage</button>
          <button class="button-font" mat-menu-item (click)="signOut()" *ngIf="isSignedIn">Sign Out</button>
        </mat-menu>
    </mat-toolbar-row>
  </mat-toolbar>

</header>
