<div fxLayout="row">
  <div fxFlexOffset.gt-xs="25%" fxFlex.gt-xs="0 0 50%" fxFlex.xs="1 0 0">
    <fieldset>
      <legend>Sign Up</legend>
      <form [formGroup]="signUpForm" (ngSubmit)="signUp()">
        <mat-form-field class="form-field">
          <input matInput type="email" placeholder="email*" formControlName="email">
          <mat-error *ngIf="signUpForm.get('email').invalid && signUpForm.get('email').touched">{{ getEmailErrorMessage() }}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="form-field">
          <input matInput type="text" placeholder="username*" formControlName="username">
          <mat-error *ngIf="signUpForm.get('username').invalid && signUpForm.get('username').touched">{{ getUsernameErrorMessage() }}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="form-field" name="password*">
          <input matInput type="password" placeholder="password" formControlName="password">
          <mat-error *ngIf="signUpForm.get('password').invalid && signUpForm.get('password').touched">{{ getPasswordErrorMessage() }}</mat-error>
        </mat-form-field>
        <br>
        <mat-form-field class="form-field">
          <input matInput type="text" placeholder="address" formControlName="address">
        </mat-form-field>
        <br>
        <mat-form-field class="form-field">
          <input matInput type="text" placeholder="(111)-111-1111" formControlName="phone">
        </mat-form-field>
        <br>
        <div mat-dialog-actions>
          <button class="signup-button" mat-raised-button color="primary" type="submit" [disabled]="signUpForm.invalid">Sign Up</button>
          <br>
          <p>Already have an account? Please <a href="" [routerLink]="['/authentication/signin']">Sign In</a> </p>
        </div>
      </form>
    </fieldset>
  </div>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <fieldset>
        <legend align="center">Sign Up</legend>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="email">Email: </label>
            <input class="form-control" type="email"
            formControlName="email">
          </div>
          <div class="form-group">
            <label for="text">Username: </label>
            <input class="form-control" type="text"
            formControlName="username">
          </div>
          <div class="form-group">
            <label for="password">Password: </label>
            <input class="form-control" type="password"
            formControlName="password">
          </div>
          <br>
          <button class="btn btn-outline-primary btn-block" type="submit">
            Sign Up
          </button>
        </form>
      </fieldset>
    </div>
  </div>
</div> -->
