<div class="container-fluid">
  <div class="row">
    <div class="col-sm-7">
      <ngb-carousel *ngIf="images">
        <ng-template ngbSlide>
          <img class="img-fluid" [src]="images[0]" alt="Random first slide" >
          <div class="carousel-caption">
            <h3>ExperiorTTC</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid" [src]="images[1]" alt="Random second slide">
          <div class="carousel-caption">
            <h3>Sid Naresh</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid" [src]="images[2]" alt="Random third slide">
          <div class="carousel-caption">
            <h3>Nandan Naresh</h3>
          </div>
        </ng-template>
        <ng-template ngbSlide>
          <img class="img-fluid" [src]="images[3]" alt="Random third slide">
          <div class="carousel-caption">
            <h3>Maria Sirakova</h3>
          </div>
        </ng-template>
      </ngb-carousel>
    </div>
    <div class="col-sm-5">
      <br class="d-sm-none d-block">
      <div class="card">
        <div class="card-header">Header</div>
        <div class="card-body">Meaningless content here</div>
        <div class="card-footer">Footer</div>
      </div>
      <br>
      <div class="card">
        <div class="card-header">Header2</div>
        <div class="card-body">Some other Meaningless content here</div>
        <div class="card-footer">Footer</div>
      </div>
    </div>
  </div>
</div>

<br>
<hr>

<div class="jumbotron jumbotron-fluid trainingJumbotron">
  <div class="container" align="right">
    <h1>Professional Group Training</h1>
    <h4>Interesting, intensive, and detail oriented!</h4>
    <button class="btn btn-info" type="button">Learn More About Our Training</button>
  </div>
</div>

<hr>

<div class="jumbotron jumbotron-fluid trainingJumbotron2">
  <div class="container">
    <h1>Beginner Group Training</h1>
    <h4>Fun and informative<br> Develope basic skills!</h4>
    <button class="btn btn-info" type="button">Learn More About Our Training</button>
  </div>
</div>

<hr>

<div class="jumbotron jumbotron-fluid fridayLeague">
  <div class="container" align="right">
    <h1>Friday League</h1>
    <h4>High level competition<br> Various winning gifts!</h4>
    <button class="btn btn-info" type="button">Learn More About Friday League</button>
  </div>
</div>

<hr>
<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <a target="_blank" href="http://www.yttf.us"><img src="/assets/img/yttf.jpg" alt="Youth Table Tennis Foundation" class="img-fluid"></a>
    </div>
    <div class="col-sm-4">
      <img src="/assets/img/experior.jpg" alt="Youth Table Tennis Foundation" class="img-fluid">
    </div>
    <div class="col-sm-4">
    </div>
  </div>
</div>

<br>
<hr>

<footer class="container-fluid">
  <div class="row">
    <div class="col-sm-4">
      <h3>Address:</h3>
      <h5>111 S Lombard Rd #8,</h5>
      <h5>Addison, IL 60101</h5>
    </div>
    <div class="col-sm-4">
      <h3>Contact:</h3>
      <h5>Arcot Naresh</h5>
      <h5>Email: arcot@experior.com</h5>
      <h5>Cell: (111) 111-1111</h5>
    </div>
    <div class="col-sm-4">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2968.4459664646097!2d-88.02442018455739!3d41.9262674792183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880fad68bd5ef937%3A0xbfc34e2fa1a1cb19!2sExperior+Table+Tennis+Club!5e0!3m2!1sen!2sus!4v1525807063387" width="600" height="450" frameborder="0" style="border:0" allowfullscreen class="img-fluid"></iframe>
    </div>
  </div>
  <br>
  <p align="center">&copy; 2018 Expeiror Table Tennis Club</p>
</footer>
