.form-field {
  width: 100%;
}

.signin-button {
  font-size: 1.1rem;
  font-weight: 300;
  display: block !important;
  width: 100% !important;
  margin-top: 1vh;
}

p > a{
  color: dodgerblue;
  text-decoration: none;
}
